.indent{
    margin-left: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: 5% 52% 20% 23%;
    gap: 5px;
}
.repeat-spend{
    padding: 0px;
    margin: 0px;
}
/* the below css selector applies the style(displaying the add btn)
to the child(repeat-spend) 
when the parent(grid-container) is hovered
*/
.grid-container:hover .repeat-spend::before{
    content: "➕";
}